<div class="row">

	<div class="col-md-12">
		<ba-card baCardClass="with-scroll">
			<div class="form-group row">
				<label for="inputEmail3" class="col-sm-2 form-control-label"><h2>Name:</h2></label>
				<div class="col-sm-4"><h2>{{data.user_name}}</h2></div>

				<label for="inputEmail3" class="col-sm-2 form-control-label"><h2>Email:</h2></label>
				<div class="col-sm-2"><h2>{{data.email}}</h2></div>
			</div>
		</ba-card>
	</div>

	<div class="col-md-12">
		<ba-card baCardClass="with-scroll">
			<div class="form-group row">

				<label for="inputEmail3" class="col-sm-2 form-control-label">Height:</label>
				<div class="col-sm-2">{{data.height}} cm</div>

				<label for="inputEmail3" class="col-sm-2 form-control-label">Weight:</label>
				<div class="col-sm-2">{{data.weight}} kg</div>

				<label for="inputEmail3" class="col-sm-2 form-control-label">BMI:</label>
				<div class="col-sm-2">{{data.bmi}}</div>

			</div>
			<div class="form-group row">

				<label for="inputEmail3" class="col-sm-2 form-control-label">Start Date:</label>
				<div class="col-sm-4">{{data.start_date}}</div>

				<label for="inputEmail3" class="col-sm-2 form-control-label">End Date:</label>
				<div class="col-sm-2">{{data.end_date}}</div>

			</div>

			<div class="form-group row">

				<label for="inputEmail3" class="col-sm-2 form-control-label">Goal:</label>
				<div class="col-sm-4">{{data.goal}}</div>

				<label for="inputEmail3" class="col-sm-2 form-control-label">Specification:</label>
				<div class="col-sm-2">{{data.specification}}</div>

			</div>

			<div class="form-group row">

				<label for="inputEmail3" class="col-sm-2 form-control-label">Precaution:</label>
				<div class="col-sm-4">{{data.precaution}}</div>

				<label for="inputEmail3" class="col-sm-2 form-control-label">Advice:</label>
				<div class="col-sm-4">{{data.advice}}</div>

			</div>
			
		</ba-card>
	</div>
</div>