  <div class="form-group">
    <label for="input21">Contact Person Name</label>
    <input type="text" class="form-control" id="input21" [(ngModel)]="contact_name" placeholder="Contact Person Name">
  </div>

  <div class="form-group">
    <label for="input22">Relationship</label>
    <input type="text" class="form-control" id="input22" [(ngModel)]="relationship" placeholder="Relationship">
  </div>

  <div class="form-group">
    <label for="input23">Mobile No</label>
    <input type="text" class="form-control" id="input23" [(ngModel)]="mobile_no" placeholder="Mobile No">
  </div>

  <div class="form-group">
    <label for="input24">Resident No</label>
    <input type="text" class="form-control" id="input24" [(ngModel)]="resident_no" placeholder="Resident No">
  </div>