  

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="input31">Membership Plan</label>
      <input type="text" class="form-control" id="input31" placeholder="Membership Plan">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="input32">Membership No</label>
      <input type="text" class="form-control" id="input32" placeholder="Membership No">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label for="input33">Starting date</label>
      <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" id="input33" [(ngModel)]="start_date"  ngbDatepicker #d1="ngbDatepicker" required>
          <div class="input-group-addon" (click)="d1.toggle()" >
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label for="input34">Ending date</label>
      <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" id="input33" [(ngModel)]="end_date"  ngbDatepicker #d2="ngbDatepicker" required>
          <div class="input-group-addon" (click)="d2.toggle()" >
              <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group">
  <label for="input37">Specify for offer given</label>
  <input type="text" class="form-control" id="input37" placeholder="Specify for offer given">
</div>


