

  <div class="row">
    <div class="col-md-12">
      <ba-card baCardClass="with-scroll">
          <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 form-control-label"><h2>Name:</h2></label>
            <div class="col-sm-4"><h2>{{udata.name}}</h2></div>

            <label for="inputEmail3" class="col-sm-2 form-control-label"><h2>Mobile No:</h2></label>
            <div class="col-sm-2"><h2>{{udata.mobile_no}}</h2></div>

          </div>
          <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 form-control-label"><h2>Membership:</h2></label>
            <div class="col-sm-4"><h2>{{payment_info.membership_name}}</h2></div>

            <label for="inputEmail3" class="col-sm-2 form-control-label"><h2>Expired Date:</h2></label>
            <div class="col-sm-2"><h2>{{udata.end_date}}</h2></div>

          </div>
      </ba-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div>
        <ba-card cardTitle="Personal Details" baCardClass="with-scroll">

          <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 form-control-label">Name</label>
            <div class="col-sm-4">{{udata.name}}</div>

            <label for="inputEmail3" class="col-sm-2 form-control-label">Email</label>
            <div class="col-sm-4">{{udata.email}}</div>

          </div>

          <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 form-control-label">Mobile No</label>
            <div class="col-sm-4">{{udata.mobile_no}}</div>

            <label for="inputEmail3" class="col-sm-2 form-control-label">Resident No</label>
            <div class="col-sm-4">{{udata.resident_no}}</div>

          </div>

          <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 form-control-label">DOB</label>
            <div class="col-sm-4">{{udata.dob}}</div>

            <label for="inputEmail3" class="col-sm-2 form-control-label">Age</label>
            <div class="col-sm-4">{{udata.age}}</div>

          </div>

        </ba-card>

        <ba-card cardTitle="Payment Details" baCardClass="with-scroll">

          <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 form-control-label">Membership Type</label>
            <div class="col-sm-4">{{payment_info.membership_name}}</div>

            <label for="inputEmail3" class="col-sm-2 form-control-label">Membership Amount</label>
            <div class="col-sm-4">{{payment_info.membership_amount}}</div>

          </div>

          <div class="form-group row">

            <label for="inputEmail3" class="col-sm-2 form-control-label">Paid Amount</label>
            <div class="col-sm-4">{{payment_info.paid_amount}}</div>

            <label for="inputEmail3" class="col-sm-2 form-control-label">Balance Amount</label>
            <div class="col-sm-4">{{payment_info.balance_amount}}</div>

          </div>

          <div class="form-group row" *ngIf="make_payment_flag">
            <div class="col-md-4">
              <a style="cursor:pointer" (click)="makePayment()"><u>Click here to make payment</u></a>
            </div>
          </div>

          

        </ba-card>
      </div>      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ba-card cardTitle="Schedules" baCardClass="with-scroll" class="smart-table-container">
        <ng2-smart-table [settings]="settings" [source]="source" ></ng2-smart-table>
        <!-- <ng2-smart-table [settings]="settings" [source]="source" (delete)="onDeleteConfirm($event)" (edit)="onEdit($event)"></ng2-smart-table> -->
      </ba-card>
    </div>
  </div>


    
  
