<div class="widgets">

  <div class="row">

    <div class="col-md-6">
      <ba-card cardTitle="Personal Details" baCardClass="with-scroll">
        <div class="form-group">
          <label for="input01">Name *</label>
          <input type="text" class="form-control" id="input01" placeholder="Name" [formControl]="name"  >
        </div>
        <p class="alert alert-danger" text-wrap *ngIf="name.invalid  && (name.dirty || name.touched)">
          Please enter name.
        </p>

        
        <div class="form-group">
          <label for="input03">Sex</label>
          <div class="input-demo radio-demo row">
            <div class="col-md-4">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="sex" id="inlineRadio2" [formControl]="sex" value="M" >
                <span>Male</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="sex" id="inlineRadio3" [formControl]="sex" value="F" >
                <span>Female</span>
              </label>
            </div>
          </div>
        </div>       
        


        <div class="form-group">
          <label for="input02">Age</label>
          <input type="number" class="form-control" id="input02" placeholder="Age" [formControl]="age">
        </div>
        <p class="alert alert-danger" text-wrap *ngIf="age.invalid  && (age.dirty || age.touched)">
          Please enter age. It should be a number.
        </p>


        <div class="form-group">
          <label for="input05">Mobile No *</label>
          <input type="text" class="form-control" id="input05" placeholder="Mobile No" [formControl]="mobile_no">
        </div>
        <p class="alert alert-danger" text-wrap *ngIf="mobile_no.invalid  && (mobile_no.dirty || mobile_no.touched)">
          Please enter mobile number.
        </p>


        <div class="form-group">
          <label for="input06">Occupation</label>
          <input type="text" class="form-control" id="input06" placeholder="Occupation" [formControl]="occupation">
        </div>

        <div class="form-group">
          <label for="input07">Email ID *</label>
          <input type="email" class="form-control" id="input07" placeholder="Email ID" [formControl]="email">
        </div>
        <p class="alert alert-danger" text-wrap *ngIf="email.invalid  && (email.dirty || email.touched)">
          Please enter valid email.
        </p>


        <div class="form-group">
          <label for="input08">Facebook ID</label>
          <input type="text" class="form-control" id="input08" placeholder="Facebook ID" [formControl]="facebook">
        </div>

        <div class="form-group">
          <label for="exampleSelect1">What is your fitness goal ?</label>
          <select class="form-control" [(ngModel)]="fitness_goal">
            <option *ngFor="let fg of fitness_goals" [ngValue]="fg" >{{fg.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleSelect1">How do you hear about Muscle Garage ?</label>
          <select class="form-control" [(ngModel)]="heard_from">
            <option *ngFor="let hf of heard_froms" [ngValue]="hf" >{{hf.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="input03">Did anyone reffered ?</label>
          <div class="input-demo radio-demo row">
            <div class="col-md-4">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="reffference" id="inlineRadio4" [formControl]="reffference" value="1" (change)="handleChange($event)" >
                <span>Yes</span>
              </label>
            </div>
            <div class="col-md-4">
              <label class="radio-inline custom-radio nowrap">
                <input type="radio" name="reffference" id="inlineRadio5" [formControl]="reffference" value="0" (change)="handleChange($event)">
                <span>No</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group" *ngIf="show_referred_by=='1'">
          <label for="input09">Reffered By</label>
          <input type="text" class="form-control" id="input09" placeholder="Reffered By" [formControl]="referred_by">
        </div>
      </ba-card>
    </div>

    <div class="col-md-6">

      <ba-card cardTitle="Package Details" baCardClass="without-scroll">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="input31">Package Suggested</label>
              <select [(ngModel)]="membership_type" class="form-control">
                <option *ngFor="let m of memberships" [ngValue]="m">{{m.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="input32">Offered Price</label>
              <input type="text" class="form-control" id="input37" [formControl]="amount" placeholder="Amount" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="input37">When can we expect</label>
          <input type="text" class="form-control" id="input37" [formControl]="expect_at" placeholder="When can we expect">
        </div>
      </ba-card>

      <ba-card cardTitle="To be completed by Member of Staff" baCardClass="with-scroll">
        <div class="form-group">
          <label for="input21">Co-Ordinator *</label>
          <input type="text" class="form-control" id="input21" [formControl]="contact_name" placeholder="Contact Person Name">
        </div>
        <p class="alert alert-danger" text-wrap *ngIf="contact_name.invalid  && (contact_name.dirty || contact_name.touched)">
          Please enter name.
        </p>

        <div class="form-group">
          <label for="input23">Conatct No *</label>
          <input type="text" class="form-control" id="input23" [formControl]="contact_mobile_no" placeholder="Mobile No">
        </div>
        <p class="alert alert-danger" text-wrap *ngIf="contact_mobile_no.invalid  && (contact_mobile_no.dirty || contact_mobile_no.touched)">
          Please enter mobile number.
        </p>

        
      </ba-card>

      <ba-card cardTitle="Comments" baCardClass="with-scroll">
        <div class="form-group">
          <textarea placeholder="Comments" class="form-control" id="textarea01" [formControl]='address'></textarea>
        </div>        
      </ba-card>

      
    </div>

  </div>

  <div class="row">
    <div class="col-md-4 offset-md-4 text-center">
      <div class="button-wrapper">
        <button type="button" class="btn btn-lg btn-block" [ngClass]="{'btn-default': form.invalid, 'btn-success': form.valid}" (click)="submitData()">SUBMIT</button>
      </div>
    </div>
  </div>

</div>
