<div class="widgets">

  <div class="row">

    <div class="col-md-6">

      <ba-card cardTitle="Membership Details" baCardClass="with-scroll">    

          <div class="form-group">
            <label for="input01">Name</label>
            <input type="text" class="form-control" id="input01" placeholder="Name" [(ngModel)]="name"  >
          </div>
          <div class="form-group">
            <label for="input02">Description</label>
            <input type="text" class="form-control" id="input02" placeholder="Description" [(ngModel)]="description">
          </div>
          <div class="form-group">
            <label for="input02">Duration (days)</label>
            <input type="text" class="form-control" id="input02" placeholder="Duration" [(ngModel)]="duration">
          </div>
          <div class="form-group">
            <label for="input02">Amount (Rs)</label>
            <input type="text" class="form-control" id="input02" placeholder="Amount" [(ngModel)]="amount">
          </div>
          
      </ba-card>

    </div>

  </div>

  <div class="row">
      <div class="col-md-2 offset-md-2 text-center">
        <div class="button-wrapper">
          <button type="button" class="btn btn-default btn-lg btn-block" (click)="submitData()">SUBMIT</button>
        </div>
      </div>
    </div>

</div>


